@page "/contacts"
@inject IContactDetailService _contactService
@inject IJSRuntime _jsRuntime

@using MyContacts.Models.ContactInformationDTO

<_DeleteConfirmation IsParentComponentProcessing="IsLoading" ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>
<h3>Contacts</h3>
<a href="contacts/create" class="btn btn-primary">Add a new contact</a>

@if (Contacts.Any())
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Number</th>
				<th scope="col">Label</th>
				<th scope="col">Notes</th>
				<th scope="col">Actions</th>
			</tr>
			</thead>
			<tbody>
				@foreach(var detail in Contacts)
				{
					<tr>
						<td>@detail.FirstName</td>
						<td>@detail.LastName</td>
						<td>
							@foreach (var num in detail.PhoneNumbers)
							{
								<h6><b>@num.Title:</b> @num.ContactNumber</h6>
							}
						</td>
						<td>@detail.Label.Title</td>
						<td><a href="/details/@detail.Id">Read Notes...</a></td>
						<td>
							<NavLink href="@($"contacts/edit/{detail.Id}")" class="btn btn-primary">Edit</NavLink>
							<button class="btn btn-danger" @onclick="() => HandleDelete(detail.Id)">Delete</button>
						</td>
					</tr>
				}	
			</tbody>
	</table>
}
else
{
	if (IsLoading)
	{
		<h4>Loading</h4>
	}
	else
	{
		<h4>No records found</h4>
	}
}


@code {
	public IEnumerable<ContactDetailDTO> Contacts = new List<ContactDetailDTO>();
	public bool IsLoading { get; set; }
	private int DeleteCategoryId { get; set; } = 0;

	protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadContacts();
        }
    }

	private async Task LoadContacts()
	{
		IsLoading=true;
        StateHasChanged();
		Contacts = await _contactService.GetAll();
		IsLoading = false;
        StateHasChanged();
	}

	private void HandleDelete(int Id)
    {
        DeleteCategoryId=Id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading=true;
        if(isConfirmed && DeleteCategoryId!=0)
        {
            //delete
            await _contactService.Delete(DeleteCategoryId);
            await LoadContacts();
            await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsLoading=false;
    }
}
